name: Tests

on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.failure-allowed }}
    strategy:
      matrix:
        ruby-version: ['3.0.7', '3.1.6', '3.2.4', '3.3.3']
        failure-allowed: [false]
        include:
        - ruby-version: 'truffleruby'
          failure-allowed: true
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run tests
      run: |
        ruby -v
        bundle exec rspec spec
